
body{
background-color: rgba(14, 93, 63, 0.455);

}

h1{
  text-align:center;
  background-image: url(fundo.jpg);
  color: aliceblue;
  padding-top: 2%;
  height: 77px;

}
h2{
  padding-top: 3%;
  color:aliceblue;
  text-align:center;
  background-color: rgba(14, 14, 99, 0.603);
  
}

.items{
  margin-left: 20px;
}

.fundo{
  background-color:aliceblue;
  width: 80%;
  margin-left: 10%;
  
}

.cv{
 margin-top: 10%;
 padding: 5%;
}

.perfil{
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 100%;
  
}

.logo{
  margin-top: 10%;
  margin-left: 85%;
  width: 90%;
}


.logo2{
  margin-top: 8%;
  margin-left: 40%;
  width: 50%;
}
